table {
  width: 100%;
  margin-bottom: 50px;

  .name {
    width: 60%;
  }

  .index {
    width: 10%;
  }

  td {
    padding: 0 5px;
  }

  img {
    margin: 3px 3px;
    width: 24px;
    height: 24px;
    vertical-align: sub;
  }

  caption {
    caption-side: top;
    white-space: nowrap;
    background: rgba(0, 53, 93, 1);
    color: white;
    text-align: center;
    border-radius: 8px 8px 0 0;

    .tournament-name {
      font-size: 12px;
    }
  }

  thead {
    color: rgba(0,0,0,0.2);
  }

  tbody{

    font-size: 14px;
    border-color: rgba(0, 0, 0, 0.2);

    tr {
      height: 40px;
      &:nth-child(even) {
        background: rgba(0, 53, 93, 0.04);
      }
      &:hover {
        background: rgba(0, 53, 93, 0.1);
        color: rgba(0, 53, 93, 1);
      }

    }

    .index {
      text-align: center;
    }
  }
}


.players-menu {
  color: rgba(0,0,0,0.5);
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  &-item {
    width: 20%;
    border-radius: 0;
    outline: none;
    min-width: unset;
    &:hover {
      border-radius: 0;
      background: rgba(0, 53, 93, 0.1)
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background: rgba(0, 53, 93, 0.1);
    border-bottom: 1px solid #00355d;
  }
}
