players {
  padding: 10px;
}

.team-card {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.full-width-table {
  width: 100%;
  padding-bottom: 15px;
}

.mat-row {
  height: 35px;
}
/* размер шрифта в таблице */
.mat-cell {
  font-size: 14px;
}

.mat-form-field {
  margin-left: 10px;
}

.mat-elevation-z8 {
  box-shadow: unset;
}

tr {
  margin-bottom: 5px;
}

td {
  height: 45px;
}

.team-table-photo {
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
}

.mat-button-toggle-group {
  width: 100%;
}

::ng-deep button:focus {
  outline: none!important;
}

.mat-button-toggle {
  width: inherit;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  text-align: right;
}

.team-image {
  width: 25px;
  padding: 5px 0;
}

