@import "variables";
@import "mixins";

:root {
  width: 50%;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1rem;

  label {
    margin-bottom: 0;
  }

  &__input {
    padding: 5px 30px;
    border: 1px solid $light-gray;
    border-radius: 7px;
    transition: 0.5s;
    height: 34px;
    width: 100%;

    &:focus {
      border: 1px solid $accent;
      transition: 0.5s;
    }
  }

  &__search-icon {
    position: absolute;
    padding-left: 1rem;
  }

  &__clear {
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    color: $light-gray;
    &:hover {
      transition: 0.2s;
      color: $main-color;
    }
  }
}

