<div class="team-info" *ngIf="team">
  <div class="team-info__img col-4">
    <img src="{{team?.img}}" alt="">
  </div>
  <div class="team-info__info col-8">
    <div class="name">{{team?.name}}</div>
    <div class="managers" *ngIf="team.managers.length">
      <div class="managers--title">Руководство:</div>
      <ul>
        <li class="managers--list" *ngFor="let manager of team.managers">
          {{manager.firstName}} {{manager.lastName}} {{manager.middleName}}
        </li>
      </ul>

    </div>
  </div>
</div>
