<div class="news default-container">
  <div class="news__header d-flex justify-content-between align-items-center">
    <span class="d-flex justify-content-between align-items-center">
      <span class="icon"><img src="../../../../assets/img/icons/news.png" alt=""></span>
    <span class="title">
      <h1>НОВОСТИ</h1>
    </span>
    </span>
  </div>

  <div class="news__hr"></div>

  <div class="go-back" (click)="goBack()">
    <svg class="arrow-3-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <path class="arrow-3-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg>
    <span class="text">Назад к списку новостей</span>
  </div>
  <div class="one-news">
    <div class="one-news__date">
      <img src="../assets/img/icons/date.png" alt="">
      <span class="text">{{ news?.date | date: 'dd MMM HH:mm' }}</span>
    </div>
    <div class="one-news__title">{{news?.title}}</div>
    <div class="one-news__content">
      <img src="{{news?.img}}" alt="">
      <div class="text" [innerHTML]="news?.text"></div>
    </div>
  </div>

</div>
