img {
  height: 130px;
  width: 130px;
  padding: 10px;
}

hr {
  height: 1px;
}

.home-name, .guest-name {
  font-weight: 500 !important;
}

.photo-player img {
  width: 40px;
  height: 40px;
  padding: 3px;
  //border: 1px solid #cecece;
}

caption {
  text-align: center;
  caption-side: top;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.25rem;
}

/* внешние границы таблицы серого цвета толщиной 1px */
//rest-table {border: 1px solid grey;}
/* границы ячеек первого ряда таблицы */
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 20%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
/* границы ячеек тела таблицы */
td {border-bottom: 1px solid rgba(0, 0, 0, 0.12);}
/* сделает ширину таблицы равной ширине блока контейнера, в котором она находится */
table {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;

  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

.home-goal {
  width: 45%;
  text-align: right;
}

.time-goal {
  width: 10%;
  text-align: center;
}

.guest-goal {
  width: 45%;
  text-align: left;
}

.home-punishment {
  width: 45%;
  text-align: right;
}

.time-punishment {
  width: 10%;
  text-align: center;
}

.guest-punishment {
  width: 45%;
  text-align: left;
}

.number {
  width: 10%;
  text-align: center;
}

.photo-player {
  width: 20%;
  text-align: center;
}

.player {
  width: 70%;
  text-align: left;
}
