@import "variables";


.main-container {

  margin: 130px 0 130px 0;

  @media (max-width: $md) {
    margin: 90px auto 90px auto;
  }

  @media (min-width: 768px) {
    max-width: 90%;
  }
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

::ng-deep.mat-list-item-content {
  padding-right: 2rem !important;
}


.active {
  background: rgba(0, 0, 0, 0.15) !important;
}


lg-header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.container {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

lg-footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
