<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [mode]="'over'"
               [opened]="false"
               [fixedInViewport]="false">

    <mat-nav-list>
      <div class="">
        <a class="menu" mat-list-item
           *ngFor="let link of links"
           [routerLink]="[link.url]" [routerLinkActive]="['active']"
           [disabled]="link.disabled"
           [routerLinkActiveOptions]="{ exact: link.exact }"
           (click)="drawer.toggle()"
        >
          <span class="mr-3 icon-wrapper">
            <img src="assets/img/icons/{{link.icon}}.png" alt="" class="icon">
          </span>
          {{link.name}}
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="home-background">

    <lg-header (toggleSideNav)="drawer.toggle()" [links]="links"></lg-header>
    <div class="container mx-auto main-container px-0 d-flex">
      <div class="col-12 col-xl-9">
        <router-outlet></router-outlet>
      </div>
      <lg-side-panel class="col-3 d-xl-block d-none"></lg-side-panel>
    </div>
    <lg-footer></lg-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
