<div class="skeleton">

  <div class="d-flex justify-content-center">
    <div class="col-1 p-0">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
              'border-radius': '50%',
              'height': '45px',
              'width': '45px',
              'margin': '5px 0'
            }"
      ></ngx-skeleton-loader>
    </div>
    <div class="col-3 p-0">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
              'border-radius': '5px',
              'height': '45px',
              'margin': '5px 0'
            }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="">
    <ngx-skeleton-loader
      count="1"
      [theme]="{
              'border-radius': '5px',
              'height': '40px',
              'margin': '5px 0',
              'min-width': '263px'
            }"
    ></ngx-skeleton-loader>
    <div class="w-75 m-auto">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
              'border-radius': '5px',
              'height': '390px',
              'margin': '3px 0 50px 0',
              'min-width': '263px'
             }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
