<div class="auth-container">

  <div class="auth">
    <div class="title-auth"><h2>Авторизация</h2></div>
    <div class="auth-card">

      <form [formGroup]="form" autocomplete="off" class="pb-2" (ngSubmit)="submit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Логин" formControlName="email" aria-label="login"
                 (keydown.enter)="submit()"
                 appInputTrim (inputTrim)="form?.controls['email']?.setValue($event)"
          >
          <mat-error *ngIf="form.controls['email']?.errors?.required">Обязательное поле</mat-error>
          <mat-error *ngIf="form.controls['email']?.errors?.email">Введите валидный email</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" (keydown.enter)="submit()">
          <input matInput placeholder="Пароль" formControlName="password" aria-label="password"
                 [type]="hide ? 'password' : 'text'"
                 appInputTrim (inputTrim)="form.controls['password']?.setValue($event)"
          >
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['password']?.errors?.required">Обязательное поле</mat-error>
          <mat-error *ngIf="form.controls['password']?.errors?.minlength">Минимум 6 знаков, сейчас {{form.controls['password']?.errors?.minlength['actualLength']}}</mat-error>
        </mat-form-field>

      </form>

      <button mat-raised-button color="primary" class="btn-block login-button"
              type="submit" (click)="submit()"
              [disabled]="form.invalid || form.disabled">
        Войти
      </button>

    </div>
  </div>

<!--  <app-register></app-register>-->
</div>






<!--{{ logStatus }}-->

