.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.auth-card {
  padding-top: 20px;
  max-width: 500px;
  margin: auto;
  height: 230px;
  padding: 30px 20px;
}

.my-card {
  max-width: 400px;
}

.auth {
  display: flex;
  vertical-align: middle;
  background: white;
}

.auth-container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
