<div class="players default-container">

  <app-page-header [title]="'ИГРОКИ'" [img]="'players-blue'">
    <app-search-input [placeholder]="'Поиск по игрокам'" (search)="search = $event"></app-search-input>
  </app-page-header>


  <table>
    <colgroup>
      <col style="width:28%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
      <col style="width:6%">
    </colgroup>

    <thead>
      <tr>
        <th class="player">Игрок</th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/games.png" alt="">
            </div>
            <div class="text">Игры</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/goal.png" alt="">
            </div>
            <div class="text">Голы</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/assist.png" alt="">
            </div>
            <div class="text">Пасы</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/goal-and-assist.png" alt="">
            </div>
            <div class="text">ГолПас</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/yellow.png" alt="">
            </div>
            <div class="text">ЖК</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/red-yellow.png" alt="">
            </div>
            <div class="text">ВЖК</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/red.png" alt="">
            </div>
            <div class="text">КК</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/penalty.png" alt="">
            </div>
            <div class="text">Голы с пенальти</div>
          </div>
        </th>
        <th>
          <div class="d-flex flex-column justify-content-between th-container">
            <div class="icon">
              <img src="../../../../assets/img/icons/autogoal.png" alt="">
            </div>
            <div class="text">Автоголы</div>
          </div>
        </th>
        <th>Голы %</th>
        <th>Пасы %</th>
        <th>ГолПас %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of (_search(players) | slice:0:slice); let idx = index" class="my-animation">
        <td class="player">
          <div class="index">{{idx+1}}</div>
          <img src="{{player?.img || '../assets/img/defaultImage.png'}}" alt="" routerLink="/players/{{player._id}}">
          <div class="player-detail">
            <div class="name" routerLink="/players/{{player._id}}">{{player?.firstName}} {{player?.lastName}} {{player?.middleName}}</div>
            <div class="team" routerLink="/teams/{{player?.teams[0]?._id}}">{{player?.teams[0]?.name}}</div>
          </div>
        </td>
        <td>{{player?.gamesCount}}</td>
        <td>{{player?.goalsCount}}</td>
        <td>{{player?.assistsCount}}</td>
        <td>{{player?.goalsAssists}}</td>
        <td>{{player?.yellow}}</td>
        <td>{{player?.yellowReds}}</td>
        <td>{{player?.red}}</td>
        <td>{{player?.penalty}}</td>
        <td>{{player?.autoGoals}}</td>
        <td>{{getPercent(player,'goalsCount') | number:'1.0-2'}}</td>
        <td>{{getPercent(player,'assistsCount') | number:'1.0-2'}}</td>
        <td>{{getPercent(player,'goalsAssists') | number:'1.0-2'}}</td>


      </tr>
    <tr>
      <td colspan="13" class="more" (click)="more()" *ngIf="_search(players)?.length > slice">ПОКАЗАТЬ ЕЩЕ</td>
    </tr>

    </tbody>
  </table>

</div>
