<!--<div class="container index-main" [style.max-width]="isAdmin() ? '100%' : null">-->



<!--<div class="container">-->
<!--  <div class="main">-->
<!--    <div class="one col-8">-->
<!--      <div class="rest-news">-->
<!--        <div class="row rest-news">-->
<!--          <app-rest-news [isMainPage]="true"></app-rest-news>-->
<!--          <app-games [isMainPage]="true" class="w-100"></app-games>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="two col-4">-->
<!--      <app-right-area></app-right-area>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
