.footer, .container {
  font-size: 12px;
  color: white;
  background: rgb(0,52,90);
  background: linear-gradient(0deg, rgba(0,52,90,1) 0%, rgba(29,68,116,1) 50%, rgba(0,52,90,1) 100%);
}

.contacts {
  @media (max-width: 768px) {
    width: 100%;
  }
  width: 40%;
}

.contact {
  font-weight: 200;
}

.managers {
  font-style: normal;
  font-weight: normal;
  line-height: 1rem;
}

.position {
  color: rgba(255,255,255,0.6);
}

li {
  list-style-type: none;
  outline: none;
}

.menu {
  width: 20%;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.2em;
  li:hover {
    transform: scale(1.05);
  }
}

.map {
  position: relative;
  text-align: center;
  width: 80%;

  img {
    width: 100%;
    height: auto;
  }
}


.menu-map {
  width: 60%;
}

.address {
  text-align: left;
  position: absolute;
  left: 20%;
  top: 30%;
}

