<div class="default-container">

  <lg-page-header [title]="'ТУРНИРНАЯ ТАБЛИЦА'" [img]="'table-blue'">
    <div class="tournament">{{(clientDataService.getTournament$() | async)?.name}}</div>
  </lg-page-header>

  <table>
    <thead>
    <tr><th colspan="12">
    </th></tr>
    <tr class="heading">
      <th></th>
      <th></th>
      <th>Команды</th>
      <th>Игры</th>
      <th>Победы</th>
      <th>Ничьи</th>
      <th>Поражения</th>
      <th>Голы+</th>
      <th>Голы-</th>
      <th>Голы+/-</th>
      <th>Очки</th>
      <th>Форма</th>
    </tr>

    </thead>


    <tbody>
    <tr *ngFor="let team of clientDataService.getTable$() | async; let idx = index" [routerLink]="'/teams/' + team._id">
      <td class="idx">{{idx + 1 }}</td>
      <td><img src="{{team.img || '/assets/img/logo_white_black.jpg'}}" alt=""></td>
      <td class="team-name">{{team.teamName}}</td>
      <td>{{team.gamesCount}}</td>
      <td>{{team.win}}</td>
      <td>{{team.draws}}</td>
      <td>{{team.loss}}</td>
      <td>{{team.goals}}</td>
      <td>{{team.missedGoals}}</td>
      <td>{{team.goalDifference}}</td>
      <td>{{team.points}}</td>
      <td>
        <div class="outcomes d-flex flex-row justify-content-center">
          <span class="m-1" *ngFor="let i of team.outcomes | slice:0:5" [style.background]="colors[i]"></span>
        </div>
      </td>
    </tr>
    </tbody>

  </table>

</div>
