
<div class="default-container my-animation"
     [class.d-none]="!(loadImg && ((clientDataService.getTable$() | async).length))"
>

  <lg-page-header [title]="'ТУРНИРНАЯ ТАБЛИЦА'" [img]="'table-blue'" (loadImg)="loadImg = true">
    <div class="tournament">{{(clientDataService.getTournament$() | async)?.name}}</div>
  </lg-page-header>

  <table class="mb-3">
    <thead>
    <tr>
      <th colspan="12"></th>
    </tr>
    <tr class="heading">
      <th></th>

      <th class="">Команды</th>

      <th class="d-table-cell d-md-none">И</th>
      <th class="d-md-table-cell d-none">Игры</th>

      <th class="d-table-cell d-md-none">В</th>
      <th class="d-md-table-cell d-none">Выигрыши</th>

      <th class="d-table-cell d-md-none">Н</th>
      <th class="d-md-table-cell d-none">Ничьи</th>

      <th class="d-table-cell d-md-none">П</th>
      <th class="d-md-table-cell d-none">Поражения</th>

      <th class="d-table-cell d-md-none">+</th>
      <th class="d-md-table-cell d-none">Голы+</th>

      <th class="d-table-cell d-md-none">-</th>
      <th class="d-md-table-cell d-none">Голы-</th>

      <th class="d-table-cell d-md-none">+/-</th>
      <th class="d-md-table-cell d-none">Голы+/-</th>

      <th class="d-table-cell d-md-none">О</th>
      <th class="d-md-table-cell d-none">Очки</th>

      <!--      <th class="d-table-cell d-sm-none">Ф</th>-->
      <th class="td-outcomes">Форма</th>

    </tr>

    </thead>


    <tbody>
    <tr *ngFor="let team of clientDataService.getTable$() | async; let idx = index" [routerLink]="'/teams/' + team._id">
      <td class="idx">{{idx + 1 }}</td>
      <td class="team-name">
        <div class="d-flex align-items-center justify-content-start">
          <img class="mx-1" src="{{team.img || '/assets/img/logo_white_black.jpg'}}" alt=""> {{team.teamName}}
        </div>
      </td>
      <td>{{team.gamesCount}}</td>
      <td>{{team.win}}</td>
      <td>{{team.draws}}</td>
      <td>{{team.loss}}</td>
      <td>{{team.goals}}</td>
      <td>{{team.missedGoals}}</td>
      <td>{{team.goalDifference}}</td>
      <td>{{team.points}}</td>
      <td class="td-outcomes">
        <div class="outcomes d-sm-flex flex-row justify-content-center d-none">
          <span class="m-1" *ngFor="let i of team.outcomes | slice:0:5" [style.background]="colors[i]"></span>
        </div>
        <div class="outcomes d-flex flex-row justify-content-center d-sm-none">
          <span class="m-1" *ngFor="let i of team.outcomes | slice:2:5" [style.background]="colors[i]"></span>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
</div>

<lg-table-page-skeleton
  *ngIf="!(loadImg && ((clientDataService.getTable$() | async).length))"
></lg-table-page-skeleton>
