@import "variables";
@import "mixins";

table {
  margin-bottom: 130px;
  color: $main-color;
  width: 100%;
  text-align: center;
  font-weight: 300;

  thead {

    .heading {
      height: $height-tr;
      color: $gray;
      font-family: Inter, serif;
      font-size: 1rem;

      th {
        padding: 5px;
        font-weight: normal;

        &:nth-child(3) {
          text-align: left;
        }
      }
    }
  }

  tbody {
    .idx {
      font-family: Inter, serif;
      font-weight: bold;
    }

    @include grey-border('t');
    @include grey-border('b');

    tr {
      height: $height-tr;
      @include zebra;
      @include lg-hover('b', 0);

      .team-name {
        @include nowrap-ellipsis;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: $main-color;
        }
      ;
      }


      td {
        @media (max-width: $sm) {
          padding: 3px;
        }


        &:nth-child(3) {
          text-align: left;
        }

        &:nth-child(11) {
          font-weight: bold;
        }

        padding: 5px;

        .outcomes {
          @include outcomes(8px);
        }
      }
    }

    img {
      width: 35px;
      height: 35px;
      @include border-img;
    }
  }
}


@media (max-width: 390px) {
  .td-outcomes {
    display: none;
  }
}
