<div class="container">
  <div class="news default-container my-animation">
    <lg-page-header [title]="'ИГРЫ'" [img]="'games-title'"></lg-page-header>
    <lg-go-back></lg-go-back>


    <div class="game-info d-flex">
      <lg-team-name [team]="game?.home" class="col-4 px-0 px-sm-2"></lg-team-name>
      <lg-match-info [game]="game" class="match-info col-4">
        <ng-container [ngTemplateOutlet]="editGameInfoRef" ></ng-container>
      </lg-match-info>

      <lg-team-name [team]="game?.guest" class="col-4 px-0 px-sm-2"></lg-team-name>
    </div>

    <lg-referees [referees]="game?.referees">
      <ng-container [ngTemplateOutlet]="editRefereesPlayersRef"></ng-container>
    </lg-referees>

<!--    <lg-goals [game]="game"></lg-goals>-->

    <lg-admin-events [game]="game" [isGoals]="true" (deleteEvent)="onDeleteEvent($event)">
      <ng-container [ngTemplateOutlet]="addGoalsRef"></ng-container>
    </lg-admin-events>

    <lg-events [game]="game" [isGoals]="false">
      <ng-container [ngTemplateOutlet]="addPunishmentsPlayersRef"></ng-container>
    </lg-events>

    <div class="managers d-flex">
      <lg-managers class="col-6" [managers]="game?.homeManagers">
        <ng-container [ngTemplateOutlet]="editHomeManagersPlayersRef"></ng-container>
      </lg-managers>
      <lg-managers class="col-6" [managers]="game?.guestManagers">
        <ng-container [ngTemplateOutlet]="editGuestManagersPlayersRef"></ng-container>
      </lg-managers>
    </div>

    <lg-lineups [game]="game">
      <ng-container [ngTemplateOutlet]="editHomePlayersRef" ngProjectAs="home"></ng-container>
      <ng-container [ngTemplateOutlet]="editGuestPlayersRef" ngProjectAs="guest"></ng-container>
    </lg-lineups>
  </div>
</div>


<ng-template #editGameInfoRef>
  <div class="m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditGameInfo()">edit</mat-icon>
  </div>
</ng-template>


<ng-template #editHomePlayersRef>
  <div class="m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditHomePlayers()">edit</mat-icon>
  </div>
</ng-template>

<ng-template #editGuestPlayersRef>
  <div class="guest m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditGuestPlayers()">edit</mat-icon>
  </div>
</ng-template>

<ng-template #editRefereesPlayersRef>
  <div class="guest m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditRefereesPlayers()">edit</mat-icon>
  </div>
</ng-template>

<ng-template #editHomeManagersPlayersRef>
  <div class="guest m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditHomeManagers()">edit</mat-icon>
  </div>
</ng-template>

<ng-template #editGuestManagersPlayersRef>
  <div class="guest m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">
    <mat-icon (click)="onEditGuestManagers()">edit</mat-icon>
  </div>
</ng-template>

<ng-template #addPunishmentsPlayersRef>
  <div class="d-flex justify-content-around align-items-center">
    <button mat-button mat-icon-button matTooltip="Добавить наказание хозяевам">
      <mat-icon (click)="onAddHomePunishments()">add</mat-icon>
    </button>
    <button mat-button mat-icon-button matTooltip="Добавить наказание гостям">
      <mat-icon (click)="onAddGuestPunishments()">add</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #addGoalsRef>
  <div class="d-flex justify-content-around align-items-center">
    <button mat-button mat-icon-button matTooltip="Добавить наказание хозяевам">
      <mat-icon (click)="onAddHomeGoals()">add</mat-icon>
    </button>
    <button mat-button mat-icon-button matTooltip="Добавить наказание гостям">
      <mat-icon (click)="onAddGuestGoals()">add</mat-icon>
    </button>
  </div>
</ng-template>

<!--<ng-template #editPunishmentsPlayersRef>-->
<!--  <div class="guest m-auto align-middle flex-grow-1 cursor-pointer d-flex justify-content-center">-->
<!--    <mat-icon (click)="onEditPunishments()">edit</mat-icon>-->
<!--  </div>-->
<!--</ng-template>-->
