.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.auth-card {
  padding-top: 20px;
  max-width: 500px;
  margin: auto;
  height: 200px;
}

.my-card {
  max-width: 400px;
}

.auth {
  min-height: 40em;
  display: flex;
  vertical-align: middle
}
