<table>
  <colgroup>
    <col style="width:50%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:6%">
    <col class="table-column" style="width:6%">
    <col class="table-column" style="width:6%">
    <col class="table-column" style="width:6%">
  </colgroup>


  <thead>
  <tr>
    <th class="player">Игрок</th>


    <th *ngFor="let i of indicators">
      <div class="d-flex flex-column justify-content-center justify-content-md-between th-container">
        <div class="icon">
          <img src="/assets/img/icons/{{i.img}}.png" alt="">
        </div>
        <div class="text d-none d-md-flex">{{i.text}}</div>
      </div>
    </th>

    <th class="d-none d-sm-table-cell">Голы %</th>
    <th class="d-none d-sm-table-cell">Пасы %</th>
    <th class="d-none d-sm-table-cell">ГолПас %</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players | slice:0:slice; let idx = index" class="my-animation">
    <td>
      <div class="player">
        <div class="index">{{idx+1}}</div>
        <img class="d-none d-sm-block" src="{{player?.img || '../assets/img/defaultImage.png'}}" alt="" routerLink="/players/{{player._id}}">
        <div class="player-detail">
          <div class="name" routerLink="/players/{{player._id}}">{{player?.firstName}} {{player?.lastName}} {{player?.middleName}}</div>
          <a class="team" [class.not-link]="notLink" routerLink="/teams/{{player?.teams[0]?._id}}">{{player?.teams[0]?.name}}</a>
        </div>
      </div>
    </td>
    <td>{{player?.gamesCount}}</td>
    <td>{{player?.goalsCount}}</td>
    <td>{{player?.assistsCount}}</td>
    <td>{{player?.goalsAssists}}</td>
    <td>{{player?.yellow}}</td>
    <td>{{player?.yellowReds}}</td>
    <td>{{player?.red}}</td>
    <td>{{player?.penalty}}</td>
    <td>{{player?.autoGoals}}</td>
    <td class="d-none d-sm-table-cell">{{getPercent(player,'goalsCount') | number:'1.0-2'}}</td>
    <td class="d-none d-sm-table-cell">{{getPercent(player,'assistsCount') | number:'1.0-2'}}</td>
    <td class="d-none d-sm-table-cell">{{getPercent(player,'goalsAssists') | number:'1.0-2'}}</td>


  </tr>
  <tr *ngIf="players?.length > slice">
    <td colspan="100%" class="more" (click)="more()">ПОКАЗАТЬ ЕЩЕ</td>
  </tr>

  </tbody>
</table>
