@import "variables";
@import "mixins";


.gray-15px {
  font-weight: 300;
  line-height: 15px;
  color: $gray;
}

.hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  @include table;
  table-layout: fixed;


  th, td:not(.player) {
    text-align: center;
    vertical-align: baseline;
  }

  thead {
    @extend .gray-15px;

    tr {
      height: 70px;
      border-bottom: 1px solid $light-gray;
      @media (max-width: $sm) {
        height: 20px;
      }

      th {

        font-weight: 300;
        font-size: 0.8rem;
        .th-container {
          padding: 10px 0;
          height: 100%;
          .icon {
            img {
              width: auto;
              height: 23px;
              margin-bottom: 5px;
              @media (max-width: $md) {
                height: 19px;
              }
              @media (max-width: $sm) {
                height: 16px;
              }
            }
          }
        }
      }
    }
  }

  $height-tr-tbody: 50px;

  tbody {

    tr {
      @include zebra;
      height: $height-tr;
      vertical-align: middle;
      font-weight: 300;
      line-height: 18px;
      color: $main-color;

      &:hover {
        background: $hover-background;
      }

      .player {
        @include content-center;
        justify-content: flex-start;
        height: $height-tr;

        .index {
          padding: 0 5px;
          min-width: 20px;
        }

        img {
          margin: 0 5px;
          height: 37px;
          width: auto;
          @include border-img;

          @media (max-width: $sm) {
            height: 20px;
          }

          &:hover {
            cursor: pointer;
          }
        }


        &-detail {
          padding-left: 5px;
          @include content-center;
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          overflow: hidden;

          .name {
            @include nowrap-ellipsis;
            text-align: start;

            &:hover {
              @extend .hover;
            }
          }

          .team {
            @include nowrap-ellipsis;
            @extend .gray-15px;
            text-align: start;
          }
        }
      }
    }
  ;

    .more {
      vertical-align: middle;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      background: $hover-background;
      letter-spacing: 1px;
      transition: 0.2s;

      &:hover {
        background: $accent;
        transition: 0.2s;
        color: white;
      }
    ;
    }
  }
}

.not-link {
  pointer-events: none;
}

.question {
  right: 15px;
  top: 0;

  .help {
    transition: 0.2s;
    line-height: 23px;
    &:hover {
      color: orange;
      transition: 0.2s;
    }
  }
}

.help-ref {
  img {
    height: 24px;
    width: auto;
  }
}

.lg-close {
  right: -14px;
  top: -25px;
  line-height: 24px;
  z-index: 1;
}

.title {
  border-bottom: 1px solid $gray;
  color: $main-color;
}

.close-button {
  background: $main-color;
  transition: 0.2s;
  color: white;
  &:hover {
    background: orange;
    transition: 0.2s;
  };
}

@media (max-width: $sm) {
  .table-column {
    display: none;
  }
}
