<div class="d-flex flex-row my-5 container">
  <div class="col-12">
    <div class="mat-elevation-z8">

      <div class="d-flex flex-row justify-content-between align-items-center">
        <mat-form-field class="col-5">
          <label>
            <input label="" matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск" #value>
          </label>
          <button *ngIf="value.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="applyFilter(''); value.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button color="accent" class="float-right mr-5 open-close-add" (click)="openDialogAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </div>


      <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let idx = index;">{{idx + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef>Фото</th>
          <td mat-cell *matCellDef="let row" class="cursor-pointer"
          >
            <img src="{{row.img ? row.img : '../../assets/img/defaultImage.png'}}" alt="">
          </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Фамилия</th>
          <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя</th>
          <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="middleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Отчество</th>
          <td mat-cell *matCellDef="let row">{{row.middleName}}</td>
        </ng-container>

        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата рождения</th>
          <td mat-cell *matCellDef="let row">{{row.birthday | date: 'dd.MM.y'}}</td>
        </ng-container>

        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">

            <div class="action-area">

              <button mat-icon-button>
                <mat-icon (click)="openDialogEdit(row)">edit</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon (click)="openDialogDelete(row._id)">delete_outline</mat-icon>
              </button>

            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
                     [length]="dataSource?.data.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 15, 20, 25]">
      </mat-paginator>
    </div>
  </div>

</div>


<ng-template #addRef>
  <div>
    <div [formGroup]="form" class="d-flex flex-column">

      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input label="" matInput placeholder="Фамилия" formControlName="lastName" required trim="blur">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input label="" matInput placeholder="Имя" formControlName="firstName" required trim="blur">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input label="" matInput placeholder="Отчество" formControlName="middleName" trim="blur">
      </mat-form-field>

      <mat-form-field>
        <input label="" matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday"
               dataformatas="MMM:dd" [required]=false>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

    </div>
    <div class="modal-action">
      <button mat-raised-button color="warn" aria-label (click)="closeModal()">Отмена</button>
      <button mat-raised-button color="primary" aria-label (click)="addManagers()">Сохранить</button>
    </div>
  </div>
</ng-template>


<ng-template #editRef>
  <div>
    <div [formGroup]="form" class="d-flex flex-column">

      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input label="" matInput placeholder="Фамилия" formControlName="lastName" required trim="blur">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input label="" matInput placeholder="Имя" formControlName="firstName" required trim="blur">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input label="" matInput placeholder="Отчество" formControlName="middleName" trim="blur">
      </mat-form-field>

      <mat-form-field>
        <input label="" matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday"
               dataformatas="MMM:dd" [required]=false>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="add-img">
      <div class="">
        <img class="w-100" src="{{ imagePreview || form?.controls['img'].value }}" alt="">
      </div>

      <br>
      <lg-admin-file-upload [kind]="kind" [_id]="form?.controls['_id'].value" (file)="setImage($event)"></lg-admin-file-upload>
    </div>

    <div class="modal-action">
      <button mat-raised-button color="warn" aria-label (click)="closeModal()">Отмена</button>
      <button mat-raised-button color="primary" aria-label (click)="updateManagers()">Обновить</button>
    </div>
  </div>
</ng-template>


<ng-template #delRef>
  <div>
    <div>
      Вы действительно хотите удалить игрока?
    </div>
    <div class="modal-action">
      <button mat-raised-button color="warn" aria-label (click)="closeModal()">Отмена</button>
      <button mat-raised-button color="primary" aria-label (click)="deleteManagers(idForDelete)">Удалить</button>
    </div>

  </div>
</ng-template>
