

<div class="news-container" *ngIf="news?.length">
  <div class="main-news col-7">
    <div class="lg-border"></div>
    <div class="photo">
      <img src="{{news[0].img}}" alt="" [routerLink]="'/news/' + news[0]._id">
    </div>

      <div class="title-and-description">
        <div class="title"><span [routerLink]="'/news/' + news[0]._id">{{news[0].title}}</span></div>
        <div class="description" [routerLink]="'/news/' + news[0]._id"><span>{{news[0].textPreview}}</span></div>
      </div>


  </div>

  <div class="list-news col-5 h-100">
    <div class="lg-border"></div>

    <div class="one-news" *ngFor="let oneNews of news | slice: 1:4">
      <div class="photo col-5">
        <img src="{{oneNews.img}}" alt="" [routerLink]="'/news/' + oneNews._id">
      </div>
      <div class="title-and-description col-7">
        <span [routerLink]="'/news/' + oneNews._id">{{oneNews.title}}</span>
      </div>
    </div>

    <div class="cursor-pointer mews-link text-center" routerLink="/news/page/1">
      ВСЕ НОВОСТИ
    </div>

  </div>
</div>
