@import "variables";

$padding: 15px;

.news-container {
  min-width: 900px;
  height: 465px;
  display: flex;
  flex-direction: row;
  .lg-border {
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #e1e1e1;
    left: 15px;
    right: 15px;
  }

  .main-news {
    padding-right: $padding;
    height: 100%;

    img {
      width: 100%;
      border-radius: 7px;
    }

    .title-and-description {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 40px $padding $padding;

      &:hover {
        color: $main-color;
      }

      .title {
        font-size: 19px;
        line-height: 26px;
        font-weight: bold;
        padding-bottom: $padding;

      }
      .description {
        font-size: 16px;
        line-height: 20px;
      }
    }

  }

  .list-news {
    padding: 0;
    min-height: 403px;

    .one-news {
      height: 23%;
      display: flex;
      flex-direction: row;
      padding: 0 $padding $padding $padding;

      .photo {
        padding: 0 3px 0 0;
        margin-right: 10px;
      }

      &:hover {
        color: $main-color;
      }

      img {
        width: 100%;
        border-radius: 7px;
      }

      .title-and-description {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 0 0 10px;
        font-size: 16px;
        line-height: 18px;

        .description {
          font-size: 14px;
          line-height: 18px;
        }
      }

    }

    .mews-link:hover {
      color: $main-color;
      text-decoration: underline;
    }
  }
}
