

<div class="news-container" *ngIf="news?.length">
  <div class="main-news col-7">
    <span>
      <img src="{{news[1].img}}" alt="">
      <div class="title-and-description cursor-pointer">
        <div class="title">{{news[1].title}}</div>
        <div class="description">{{news[1].textPreview}}</div>
      </div>
    </span>


  </div>

  <div class="list-news col-5">

    <div class="one-news cursor-pointer" *ngFor="let oneNews of news.slice(2, 6) ">
      <div class="photo col-6">
        <img src="{{oneNews.img}}" alt="">
      </div>
      <div class="title-and-description col-6">
        <div class="title maximum-4-lines">{{oneNews.title}}</div>
<!--        <div class="description">{{oneNews.textPreview}}</div>-->
      </div>
    </div>

  </div>
</div>
