@import "variables";
@import "mixins";

.header {
  &__page {
    @extend .flex-between-center;
    height: $height-tr;

    &--content {
      @extend .flex-between-center;

      .icon {
        height: 32px;
        width: auto;
      }

      .title {
        margin-left: 20px;
        color: $main-color
      }
    }
  }

  &__hr {
    border-radius: 3px;
    height: 6px;
    background: $main-color;
  }
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
