.news-container {
  padding: 0;
}

.example-card {
  max-width: 100%;
  margin: 15px 10px 15px 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container-fluid {
  padding-top: 30px;
}

.news-title /deep/ .mat-card-header-text {
  font-size: 20px!important;
  margin: 0;
}

::ng-deep.news-title.mat-card-title {
  font-size: 20px!important;
}

.date {
  font-size: 12px;
  font-weight: lighter;
}

.news-title:hover {
  color: #00518f;
  text-decoration: none!important;
}

.mat-card-content {
  font-size: 16px;
}

.news {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*max-width: 80%;*/
}

.my-pagination /deep/ .ngx-pagination {
  padding-left: 0;
  text-align: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

@media (max-width: 991px) {
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .news {
    max-width: unset;
  }

}
