<div class="container">
  <div class="row news">
    <div class="col-lg-6 news-container"
         *ngFor="let news of newsAll | slice:0:(isMainPage ? 6 : 99) | paginate: {itemsPerPage: 4, currentPage: currentP}">
      <a [routerLink]="['/news', news?._id ]">
      <mat-card class="example-card my-animation">
        <div class="news-image">
          <img mat-card-image src="{{ news?.img }}">
        </div>
        <mat-card-title class="news-title">{{ news?.title }}</mat-card-title>
        <hr>
        <mat-card-content *ngIf="!isMainPage">
          <p>
            {{ news?.textPreview }} ...
          </p>
          <hr>
        </mat-card-content>

        <div class="date">
          {{ news?.date | date: 'dd MMM HH:mm' }}
        </div>
      </mat-card>
      </a>
    </div>
  </div>

</div>

<pagination-controls class="my-pagination"
                     *ngIf="!isMainPage"
                     (pageChange)="currentP =$event; goToChank($event)"
                     responsive="true"
                     maxSize="5"
                     autoHide="true"
                     previousLabel="сюда"
                     nextLabel="туда"
></pagination-controls>

<br>
<button mat-raised-button color="warn" class="showMore"
        *ngIf="isMainPage"
        (click)="goToNews()"
>
  ВСЕ НОВОСТИ
</button>
