@import "null-style";
@import "variables";

html, body {
  height: 100%;
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: $main-color;
}


h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h5 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  line-height: 1.4;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to{
    opacity: 1;
    transform: translateX(1);
  }
}

@keyframes move-right {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to{
    opacity: 1;
    transform: translateX(1);
  }
}

.my-animation {
  animation: move 500ms;
  animation-fill-mode: none;
}

.my-animation-right {
  animation: move-right 500ms;
  animation-fill-mode: none;
}


@media (max-width: $md) {
  .container {
    max-width: 100%;
  }
}

