@import "null-style";
@import "variables";

html, body {
  height: 100%;
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: $main-color;
}


h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  line-height: 1.4;
}

.cursor-pointer {
  cursor: pointer;
}


@media (max-width: $md) {
  .container {
    max-width: 100%;
  }
}

