@import "null-style";
@import "variables";

html, body { height: 100%; font-size: 13px;}
body { margin: 0; font-family: Inter, sans-serif; color: $main-color}



h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  line-height: 1.4;
}

.cursor-pointer {
  cursor: pointer;
}
