<div class="container">

  <div class="single-news-container">
  <div class="col-8 col-photo-and-text">
      <div class="row news align-content-center">
          <mat-card class="example-card">
            <!--<img mat-card-image src="{{ rest-news?.image }}" alt="Photo of a Shiba Inu">-->
            <mat-card-title class="news-title">{{ news?.title }}</mat-card-title>
            <hr>
            <mat-card-content>
              <p class="news-text">
                {{ news?.text }}
              </p>
              <hr>
              <div class="date">
                {{ news?.date | date: 'dd MMM HH:mm' }}
              </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
  </div>

  <div class="col-4 col-photo-and-text">
      <div class="row news align-content-center">
          <mat-card class="photo-of-news">
            <img class="photo-img" mat-card-image src="{{ news?.img }}">
          </mat-card>
        </div>
    <div class="row news align-content-center">

      <app-news-list [singleNews]="news"></app-news-list>

    </div>
  </div>
  </div>
</div>
