@import "variables";

@mixin table {
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid $light-gray;
}

@mixin caption {

  .name-and-tournament {
    width: 100%;
    padding-left: 30px;
  }
  padding: 0 20px;
  height: 56px;
  caption-side: top;
  white-space: nowrap;
  background: rgba(0, 53, 93, 1);
  color: white;
  text-align: center;
  border-radius: 7px 7px 0 0;


  .tournament-name {
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 5px;
  }
}

@mixin table-action {
  transition: 0.3s;
  cursor: pointer;
  color: $main-color;
  letter-spacing: 1.4px;
  font-size: 0.8rem;
  min-height: 10px;
  padding: unset;
  background: #00355d33;

    &:hover {
      background: orange;
      transition: 0.3s;
      color: white;
    }
}
