@import "variables";


.main {
  text-align: center;
  .title {
    color: $gray;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .referee {
    color: $main-color;
    font-weight: bold;
    padding: 3px 0;
  }

}
