<!--<div class="wrapper">-->
<!--  <h2>Angular Image Upload Demo</h2>-->

<!--  <div class="file-upload">-->
<!--    <input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />-->
<!--    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
<!--      Upload-->
<!--    </button>-->
<!--  </div>-->

<!--</div>-->

<div style="text-align: center">
  <form action="">
    <div>
      <input title="Choose a video please" type="file" name="avatar" multiple (change)="selectImage($event)" formenctype="multipart/form-data">
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>
