<div class="d-flex flex-column">
  <div class="d-flex">
    <div class="photo-player p-2">
      <img src="{{ player?.img ? player?.img : '../../assets/img/defaultImage.webp' }}" alt="">
    </div>
    <div class="data-player p-2 pl-5">

      <h2>{{ player?.lastName }} {{ player?.firstName }} {{ player?.middleName }}</h2>

      <ul>
        <li>
          Дата рождения: {{ player?.birthday | date }}
        </li>
        <li>
          Амплуа: {{ 'player?.role' }}
        </li>
        <li>Команд{{player?.teams?.length === 1 ? 'а' : 'ы'}}:
          <span *ngFor="let team of player?.teams">
            {{ team.name }}
          </span>
        </li>
        <li>
          Номер: {{ player?.number || 0 }}
        </li>
      </ul>

    </div>
  </div>

  <div class="stat text-center">
    <div>Матчи (всего) - {{ player?.gamesCount }}</div>
    <div>Голы (всего) - {{ player?.goalsCount }}</div>
    <div>Голы (c пенальти) - {{ player?.penalty }}</div>
    <div>Пасы - {{ player?.assistsCount }}</div>
    <div>Гол+пас - {{ player?.goalsAssists }}</div>
    <div>Автоголы - {{ player?.autoGoals }}</div>
    <div>Желтые карточки - {{ player?.yellow }}</div>
    <div>Вторые желтые карточки - {{ player?.yellowReds }}</div>
    <div>Красные карточки - {{ player?.red }}</div>
  </div>

  <div>
    <!--<h2>Игры</h2>-->
    <!--<ul *ngFor="let games of player?.games">-->
    <!--<li>-->
    <!--{{ games | json }}-->
    <!--</li>-->
    <!--</ul>-->


    <table>
      <caption>Игры</caption>
      <tr>
        <th class="date">Дата</th>
        <th class="home">Команда</th>
        <th class="count">Счет</th>
        <th class="guest">Команда</th>
        <th class="tour">Тур</th>
      </tr> <!--ряд с ячейками заголовков-->
      <tr *ngFor="let game of player?.games">
        <td class="date">{{ game.date | date}}</td>
        <td class="home">{{ game.home.name }}</td>
        <td class="count">{{ game.homeGoal }} - {{ game.guestGoal }}</td>
        <td class="guest">{{ game.guest.name }}</td>
        <td class="tour">{{ game.tour }}</td>
      </tr> <!--ряд с ячейками тела таблицы-->
    </table>


  </div>
</div>
