@import "mixins";
@import "variables";

table {
  width: 100%;
  margin-bottom: 50px;

  .name {
    width: 60%;
  }

  .index {
    width: 10%;
  }

  td {
    padding: 0 5px;
  }

  caption {
    height: 56px;
    padding: 0 15px;
    caption-side: top;
    white-space: nowrap;
    background: rgba(0, 53, 93, 1);
    color: white;
    text-align: center;
    border-radius: 7px 7px 0 0;

    .tournament-name {
      font-size: 12px;
    }
  }

  thead {
    color: rgba(0,0,0,0.2);
  }

  tbody{
    img {
      margin: 3px 3px;
      width: 24px;
      height: 24px;
      vertical-align: sub;
    }

    font-size: 14px;
    border-color: rgba(0, 0, 0, 0.2);

    tr {
      height: 40px;
      &:nth-child(even) {
        background: rgba(0, 53, 93, 0.04);
      }
      @include lg-hover('b', 0);
    }

    .index {
      text-align: center;
    }
  }
}


.players-menu {
  color: rgba(0,0,0,0.5);
  height: 40px;

  &__item {
    padding: 0;
    width: 20%;
    border-radius: 0;
    outline: none;
    min-width: unset;
    line-height: 20px;
    box-sizing: content-box;
    border-bottom: 1px solid $light-gray;
    @include lg-hover('b');
    @include lg-active('b');
  }

  div {
    @include content-center;
  }


}
