$gray: #A5A7A8;
$light-gray: rgba(0, 0, 0, 0.2);
$main-color: #00345A;
$main-f-size: 15px;
$accent: #00a652;

$nav-color: $main-color;
$border: 1px solid $gray;
$hover-background: rgba(0, 53, 93, 0.1);
$active-background: rgba(0, 53, 93, 0.1);
$active-color: #003333;
$hover-border-bottom: 1px solid $accent;
$font-top-menu: #7F7F7F;

$height-tr: 55px;

