

@font-face {
  font-family: 'FuturaPT';
  src: url('src/scss/fonts/FuturaPT-Light.eot');
  src: url('src/scss/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('src/scss/fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg'),
  url('src/scss/fonts/FuturaPT-Light.ttf') format('truetype'),
  url('src/scss/fonts/FuturaPT-Light.woff') format('woff'),
  url('src/scss/fonts/FuturaPT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('src/scss/fonts/FuturaPT-Medium.eot');
  src: url('src/scss/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('src/scss/fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'),
  url('src/scss/fonts/FuturaPT-Medium.ttf') format('truetype'),
  url('src/scss/fonts/FuturaPT-Medium.woff') format('woff'),
  url('src/scss/fonts/FuturaPT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url('src/scss/fonts/FuturaPT-Book.eot');
  src: url('src/scss/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
  url('src/scss/fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
  url('src/scss/fonts/FuturaPT-Book.ttf') format('truetype'),
  url('src/scss/fonts/FuturaPT-Book.woff') format('woff'),
  url('src/scss/fonts/FuturaPT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
