@import "variables";

@mixin content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin x-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin menu-hover-active($side) {
  color: $gray;
  @include lg-hover($side);
  @include lg-active($side);
}

@mixin lg-hover($side, $border-color: $hover-border-bottom) {
  &:hover {
    background: $hover-background;

    @if ($side == 't') {
      border-top: $border-color;
    }
    @if ($side == 'b') {
      border-bottom: $border-color;
  }

  }
}

@mixin lg-active($side) {
  &.active {
    background: $active-background;
    color: $main-color;

    @if ($side == 't') {
      border-top: 1px solid $main-color;
    }
    @if ($side == 'b') {
      border-bottom: 1px solid $main-color;
    }

  }
}

@mixin zebra {
  &:nth-child(even) {
    background: rgba(0, 53, 93, 0.04);
  }
}

@mixin grey-border ($side: 'all', $color: $light-gray) {
  @if ($side == 't') {
    border-top: 1px solid $color;
  }
  @if ($side == 'r') {
    border-right: 1px solid $color;
  }
  @if ($side == 'b') {
    border-bottom: 1px solid $color;
  }
  @if ($side == 'l') {
    border-left: 1px solid $color;
  }
  @if ($side == 'all') {
    border: 1px solid $color;
  }
}

@mixin outcomes($width-height: 6px) {
  text-align: center;

  & > span {
    width: $width-height;
    height: $width-height;
    border-radius: $width-height / 2;
    margin: 1px;
  }
}


