<div class="d-flex flex-row pt-5">

<!--  Таблица-->
  <div class="col-12">
    <div class="mat-elevation-z8">

      <div class="d-flex flex-row">
        <div class="d-flex flex-row pt-4 flex-grow-1">
          <mat-form-field class="col-5">
            <input label="" matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск" #value>
            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                    *ngIf="value.value"
                    (click)="applyFilter(''); value.value=''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button mat-mini-fab color="accent" class="float-right mr-5 m-auto open-close-add" (click)="goToNew()" *ngIf="!openAdd">
          <mat-icon>add</mat-icon>
        </button>
      </div>


      <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let row; let idx = index;" class="cursor-pointer" (click)="goToGame(row._id)">{{row._id}}</td>
        </ng-container>

        <ng-container matColumnDef="tour">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Тур</th>
          <td mat-cell *matCellDef="let row">{{row.tour}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
          <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
        </ng-container>

        <ng-container matColumnDef="home">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Хозяева</th>
          <td mat-cell *matCellDef="let row">{{row.home?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="homeGoal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Голы хозяев</th>
          <td mat-cell *matCellDef="let row">{{row.homeGoal}}</td>
        </ng-container>

        <ng-container matColumnDef="guestGoal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Голы гостей</th>
          <td mat-cell *matCellDef="let row">{{row.guestGoal}}</td>
        </ng-container>

        <ng-container matColumnDef="guest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Гости</th>
          <td mat-cell *matCellDef="let row">{{row.guest?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">

            <div class="d-flex flex-row">

              <div class="m-auto align-middle flex-grow-1 cursor-pointer">
                <mat-icon (click)="goToGame(row._id)">edit</mat-icon>
              </div>

              <div class="m-auto align-middle flex-grow-1 cursor-pointer">
                <mat-icon (click)="deleteGameLG(row._id)">delete</mat-icon>
              </div>

            </div>


          </td>
        </ng-container>

        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Завершена</th>
          <td mat-cell *matCellDef="let row">

            <mat-checkbox
              disabled="true"
              [(ngModel)]="row.completed">
            </mat-checkbox>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
                     [length]="dataSource?.data.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 15, 20, 25]">
      </mat-paginator>
    </div>
  </div>

</div>
