/* You can add global styles to this file, and also import other style files */

@import "null-style";
@import "fonts";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~@angular/material/theming';
@import "variables";




body, html {
  font-family: 'FuturaPT', serif;
  font-size: 16px;
  color: $main-color;
}

h1 {
  font-family: 'FuturaPTBook', serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

h2 {
  font-family: 'FuturaPT', serif;
  font-size: 16px;
  line-height: 18px;
}

h3 {
  font-family: 'FuturaPT', serif;
  font-size: 13px!important;
  line-height: 15px;
}

//$custom-typography: mat-typography-config($font-family: ''Oswald', sans-serif;');
//@include mat-core($custom-typography);
@mixin mat-ripple-theme($custom-theme) {
  .mat-button-ripple.mat-ripple {
    color: #00518F;
  }
}
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-deep-orange);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme)

html, body {
  height: 100%;
}

.container {
  background: white;
  padding-right: 0;
  padding-left: 0;
}

.my-animation {
  animation: move 500ms;
  animation-fill-mode: none;
}

.cursor-pointer {
  cursor: pointer;
}

a:hover {
  text-decoration: unset;
}

button:focus {
  outline: none;
}

.showMore {
  width: 100%;
  outline:none;
}

@keyframes move {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.open-close-add {
  right: 3%;
}

.toast {
  opacity: 1!important;
  box-shadow: 0 0 12px rgba(0,0,0,0.2)!important;
  background-color: #030303;
  pointer-events: auto;
  border-radius: 5px!important;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  background: white;
  left: 25%;
  top: 17%;
  right: 25%;
  bottom: 2%;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25), 0 4px 23px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  padding: 20px;
  overflow: auto;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-drawer {
  overflow-y: scroll
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.fw-bold {
  font-weight: bold;
}

.default-container {
  padding: 15px;
}
