@import "variables";

img {
  max-width: 120px;
  height: auto;
  margin: 30px;
}

.name {
  font-size: 2rem;
  color: $main-color;
  font-weight: bold;

  @media (max-width: $sm) {
    font-size: 1rem;
    text-align: center;
  }
}
