<!--<svg [ngClass]="{-->
<!--    'left': left,-->
<!--    'hover': hover,-->
<!--    'left-hover': hover && left,-->
<!--    'hover-from-other-el': !hover && isHover-->
<!--  }" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">-->
<!--  <g fill="none" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">-->
<!--    <path class="arrow-3-icon&#45;&#45;arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 "></path>-->
<!--  </g>-->
<!--</svg>-->

<svg
  [ngClass]="{
    'left': left,
    'hover': hover,
    'left-hover': hover && left,
    'hover-from-other-el': !hover && isHover
  }"
  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
  <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/>
</svg>


