table {
  width: 100%;
  margin-bottom: 50px;

  img {
    margin: 3px 10px;
    width: 24px;
    height: 24px;
    vertical-align: sub;
  }

  caption {
    caption-side: top;
    white-space: nowrap;
    background: rgba(0, 53, 93, 1);
    color: white;
    text-align: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;

    .tournament-name {
      font-size: 12px;
    }
  }

  thead {
    color: rgba(0,0,0,0.2);
    .games-count, .points, .index {
      width: 10%;
    }
  }

  tbody{
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);

    tr {
      &:nth-child(odd) {
        background: rgba(0, 53, 93, 0.04);
      }
      &:hover {
        background: rgba(0, 53, 93, 0.1);
        //transform: scale(1.01);
        color: rgba(0, 53, 93, 1);
      }

    }
    .outcomes {
      text-align: center;
    }

    .outcome {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      margin: 1px;
    }

    .index {
      text-align: center;
    }
  }
}



//
//
//.container {
//  margin-top: 10px;
//}
//
//.tournament-mat-card {
//  min-width: 290px;
//}
//
//.tournament-title {
//  text-align: center;
//  font-size: 16px;
//}
//
//.full-width-table {
//  width: 100%;
//  padding-bottom: 15px;
//}
//
//.mat-elevation-z8 {
//  box-shadow: unset;
//}
//
//.mat-row {
//  height: 35px;
//}
///* размер шрифта в таблице */
//.mat-cell {
//  font-size: 14px;
//}
//
//.mat-form-field {
//  margin-left: 10px;
//}
//
//a {
//  color: white;
//  text-decoration: none;
//}
//
//a:hover {
//  color: #f71f8b;
//  text-decoration: underline;
//}
//
//@media screen and (max-width: 568px) {
//  .mat-cell {
//    font-size: 12px;
//  }
//  img {
//    display: none;
//  }
//}
//
//.mat-elevation-z8 {
//  min-height: 80%;
//  padding-top: 1px;
//}
//
//.mat-card {
//
//  margin-left: auto;
//  margin-right: auto;
//  margin-top: 10px;
//}
//
//img {
//  margin-right: 10px;
//  margin-left: 10px;
//  width: 24px;
//  height: 24px;
//  vertical-align: sub;
//}
//
//td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//  min-width: 20px;
//}
//
//td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
//  padding-right: 25px;
//  max-width: 25px;
//  text-align: center;
//}
//
//::ng-deep.mat-sort-header-container:last-of-type {
//  font-size: 14px;
//
//  color: #f44336;
//  font-weight: 400;
//  /*justify-content: center;*/
//}
//
//.mat-row:hover {
//  background-color: #0090ff24;
//}
//
//.points {
//  text-align: center;
//}
//
///*.header-points:first-child {*/
///*}*/
