@import "variables";
@import "mixins";

.menu {
  z-index: 4;
  text-align: right;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  height: 40px;

  &__button {
    height: 40px;
    letter-spacing: 2px;
    box-sizing: content-box;
    border-radius: 0;
    @include menu-hover-active('b');
  }


}
