<div class="player-games">
  <table>

    <colgroup>
<!--      <col style="width:7.5%"> &lt;!&ndash;дата и время&ndash;&gt;-->
<!--      <col style="width:11.5%"> &lt;!&ndash;Хозяева&ndash;&gt;-->
<!--      <col style="width:7.5%"> &lt;!&ndash;Счет&ndash;&gt;-->
<!--      <col style="width:11.5%"> &lt;!&ndash;Гости&ndash;&gt;-->

<!--      <col style="width:6.25%"> &lt;!&ndash;голы&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;пасы&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;голпас&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;Жк&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;Кк&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;Пенальти     &ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;автоголы&ndash;&gt;-->
<!--      <col style="width:6.25%"> &lt;!&ndash;переход&ndash;&gt;-->
    </colgroup>

    <thead>
    <tr>
      <th class="position-relative">
        <div class="title">Игры с участием:</div>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/goal-active.png" alt=""></th>
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/assist-active.png" alt=""></th>
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/goal-and-assist-active.png" alt=""></th>
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/yellow-active.png" alt=""></th>
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/red-active.png" alt=""></th>
<!--      <th class="text-center"><img src="/assets/img/icons/penalty-active.png" alt=""></th>-->
      <th class="text-center d-none d-sm-table-cell"><img src="/assets/img/icons/autogoal-active.png" alt=""></th>
      <th class="text-center"></th>
    </thead>

    <tbody>
    <tr *ngFor="let game of player?.games">
      <td>
        <div class="date-tour pl-1">
          <div class="date text-left mb-1">{{ game.date | date: 'dd.MM.yy' }}</div>
          <div class="tour text-left">{{game.tour}} тур.</div>
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <div class="team-name text-right" routerLink="/teams/{{game.home._id}}">
            {{ game.home.name }}
          </div>

          <div class="img d-none d-sm-block home-logo mx-2">
            <img src="{{game.home.img || '/assets/img/logo_white_black.jpg'}}" class="cursor-pointer" alt=""
                 routerLink="/teams/{{game.home._id}}">
          </div>
        </div>
      </td>

      <td>
        <div class="d-flex flex-row justify-content-center align-items-center">

          <div class="count text-center">
            <span>{{ game.homeGoal }}</span>
            <div class="count-circle" [style.background]="getColor(game, true)"></div>
          </div>
          <span class="colon">:</span>
          <div class="count">
            <span>{{ game.guestGoal }}</span>
            <div class="count-circle" [style.background]="getColor(game, false)"></div>
          </div>


        </div>
      </td>

      <td>
        <div class="d-flex align-items-center">
          <div class="img d-none d-sm-block guest-logo mx-2">
            <img src="{{game.guest.img || '/assets/img/logo_white_black.jpg'}}" class="cursor-pointer" alt=""
                 routerLink="/teams/{{game.guest._id}}">
          </div>
          <div class="team-name" routerLink="/teams/{{game.guest._id}}">
            {{ game.guest.name }}
          </div>
        </div>
      </td>
      <td class="text-center d-none d-sm-table-cell">{{getEventCount(game, player._id, [eventTypes.Goal, eventTypes.PenaltyGoal])}}</td>
      <td class="text-center d-none d-sm-table-cell">{{getAssistCount(game, player._id, eventTypes.Goal)}}</td>
      <td class="text-center d-none d-sm-table-cell">
        {{getEventCount(game, player._id, [eventTypes.Goal, eventTypes.PenaltyGoal]) + getAssistCount(game, player._id, eventTypes.Goal)}}
      </td>
      <td class="text-center d-none d-sm-table-cell">{{getEventCount(game, player._id, [eventTypes.Yellow])}}</td>
      <td class="text-center d-none d-sm-table-cell">{{getEventCount(game, player._id, [eventTypes.Red])}}</td>
<!--      <td class="text-center d-none d-sm-table-cell">{{getEventCount(game, player._id, 'penalty')}}</td>-->
      <td class="text-center d-none d-sm-table-cell">{{getEventCount(game, player._id, [eventTypes.AutoGoal])}}</td>
      <td class="text-center">
        <lg-arrow [hover]="true" [routerLink]="'/games/' + game._id"></lg-arrow>
      </td>
    </tr>


    </tbody>
  </table>
  <div class="text-center" *ngIf="!player?.games?.length">{{player?.firstName}} {{player?.lastName}} еще не сыграл не в
    одной игре
  </div>

</div>


