<div class="news default-container">
  <div class="news__header d-flex justify-content-between align-items-center">
    <span class="d-flex justify-content-between align-items-center">
      <div class="icon"><img src="../../../../assets/img/icons/news.png" alt=""></div>
    <div class="title">
      <h1>НОВОСТИ</h1>
    </div>
    </span>
    <div >
      <div class="input-search">
        <input class="search" type="text" placeholder="Поиск по новостям" [(ngModel)]="search">

          <mat-icon
            *ngIf="search"
            (click)="search = ''"
            class="clear"
          >close</mat-icon>

      </div>
    </div>
  </div>
  <div class="news__hr"></div>
  <div class="news__selected-tags">
    <div>
      <span class="tag-filter" *ngIf="selectedTags(tags).length">Отфильтровано по тегам: </span>
      <div class="tag selected" *ngFor="let tag of selectedTags(tags)" (click)="select(tag._id)">{{tag.name}}<span>	&times;</span></div>
    </div>
  </div>
  <div class="news__main" [class.d-none]="(p|async) !== 1">
    <div class="content d-flex">
      <div class="img col-7">
        <img src="{{news[0]?.img}}" alt="" [routerLink]="['/news-page', news[0]?._id ]">
      </div>
      <div class="text col-5">
        <div class="date">
          <img src="../../../../assets/img/icons/date.png" alt=""> {{news[0]?.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="preview" [routerLink]="['/news-page', news[0]?._id ]">
          <p><strong>{{news[0]?.title }}</strong></p>
          <p>{{news[0]?.textPreview }}</p>
        </div>
        <ng-container *ngTemplateOutlet="tagsTemp"></ng-container>
      </div>
    </div>

  </div>
  <div class="news__list">
    <div class="content d-flex"
         *ngFor="let news of news | slice: 1:99 | paginate: {itemsPerPage: 4, currentPage: p|async}">
      <div class="img col-6">
        <img src="{{news?.img}}" alt="" [routerLink]="['/news-page', news?._id ]">
      </div>
      <div class="text col-6">
        <div class="date">
          <img src="../../../../assets/img/icons/date.png" alt=""> {{news?.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="preview" [routerLink]="['/news-page', news?._id ]">
          <p><strong>{{news?.title }}</strong></p>
          <p>{{news?.textPreview }}</p>
        </div>
        <ng-container *ngTemplateOutlet="tagsTemp"></ng-container>
      </div>
    </div>
  </div>
  <div class="news__pagination">
    <pagination-controls class="my-pagination"
                         (pageChange)="currentP =$event; goToChank($event)"
                         responsive="true"
                         maxSize="5"
                         autoHide="true"
                         previousLabel="сюда"
                         nextLabel="туда"
    ></pagination-controls>
  </div>
</div>


<ng-template #tagsTemp>
  <div class="tags d-flex">
    <div>
      <div class="tag"
           *ngFor="let tag of tags"
           (click)="select(tag._id)"
           [class.selected]="tag.select"
      >{{tag.name}}</div>
    </div>
  </div>
</ng-template>
