<div class="news default-container">

  <app-page-header [title]="'НОВОСТИ'" [img]="'news'">
    <app-search-input [placeholder]="'Поиск по новостям'" (search)="search = $event"></app-search-input>
  </app-page-header>


  <div class="news__selected-tags">
    <div>
      <span class="tag-filter" *ngIf="selectedTags.length">Отфильтровано по тегам: </span>
      <div class="tag selected" *ngFor="let tag of selectedTags" (click)="select(tag)">{{tag.name}}
        <span>	&times;</span></div>
    </div>
  </div>

<!--Верхняя новость-->
<!--  <div class="news__main" [class.d-none]="(p|async) !== 1">-->
<!--    <div class="content d-flex">-->
<!--      <div class="img col-6">-->
<!--        <div class="item">-->

<!--          <ngx-skeleton-loader-->
<!--            *ngIf="news[0]?.isLoad"-->
<!--            count="1"-->
<!--            [theme]="{-->
<!--              'border-radius': '5px',-->
<!--              'height': '278px'-->
<!--            }"-->
<!--          ></ngx-skeleton-loader>-->
<!--        </div>-->
<!--        <img [src]="news[0]?.img" alt="" [routerLink]="['/news', news[0]?._id ]" (load)="changeLoadStatus(news[0])" [hidden]="news[0]?.isLoad">-->
<!--      </div>-->
<!--      <div class="text w-100">-->
<!--        <div class="date" *ngIf="!news[0]?.isLoad; else loaderForDate">-->
<!--          <img src="/assets/img/icons/date.png" alt=""> {{news[0]?.date | date: 'dd.MM.yyyy'}}-->
<!--        </div>-->
<!--        <div class="preview" [routerLink]="['/news', news[0]?._id ]" *ngIf="!news[0]?.isLoad; else loaderForMainText">-->
<!--          <p><strong>{{news[0]?.title }}</strong></p>-->
<!--          <p>{{news[0]?.textPreview }}</p>-->
<!--        </div>-->
<!--        <div class="tags w-100 d-flex">-->
<!--          <div *ngIf="!news[0]?.isLoad; else loaderForTags">-->
<!--            <div class="tag"-->
<!--                 *ngFor="let tag of news[0]?.tags"-->
<!--                 (click)="select(tag)"-->
<!--                 [class.selected]="isTagSelected(tag.name)"-->
<!--            >{{tag.name}}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--Список новостей-->
  <div class="news__list">
    <div class="content d-flex"
         *ngFor="let news of news | paginate: {itemsPerPage: 4, currentPage: p|async}">
      <div class="img col-5">
        <ngx-skeleton-loader
          *ngIf="news?.isLoad"
          count="1"
          [theme]="{
              'border-radius': '5px',
              'height': '232px'
            }"
        ></ngx-skeleton-loader>
        <img src="{{news?.img}}" alt="" [routerLink]="['/news', news?._id ]" [hidden]="news?.isLoad" (load)="changeLoadStatus(news)">
      </div>
      <div class="text w-100 col-7">
        <div class="date" *ngIf="!news?.isLoad; else loaderForDate">
          <img src="/assets/img/icons/date.png" alt=""> {{news?.date | date: 'dd.MM.yyyy'}}
        </div>
        <div class="preview" [routerLink]="['/news', news?._id ]"  *ngIf="!news?.isLoad; else loaderForMainText">
          <p><strong>{{news?.title }}</strong></p>
          <p>{{news?.textPreview }}</p>
        </div>
        <div class="tags d-flex">
          <div *ngIf="!news?.isLoad; else loaderForTags">
            <div class="tag"
                 *ngFor="let tag of news?.tags"
                 (click)="select(tag)"
                 [class.selected]="isTagSelected(tag.name)"
            >{{tag.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="news__pagination">
    <pagination-controls class="my-pagination"
                         (pageChange)="currentP =$event; goToChank($event)"
                         responsive="true"
                         maxSize="5"
                         autoHide="true"
                         previousLabel="сюда"
                         nextLabel="туда"
    ></pagination-controls>
  </div>
</div>



<ng-template #loaderForDate>
  <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
</ng-template>

<ng-template #loaderForMainText>
  <ngx-skeleton-loader count="1" [theme]="{
              'border-radius': '5px',
              'height': '80px',
              'width': '90%'
            }"></ngx-skeleton-loader>
  <ngx-skeleton-loader class="mt-2" count="1"></ngx-skeleton-loader>
  <ngx-skeleton-loader class="w-50" count="1"></ngx-skeleton-loader>
  <ngx-skeleton-loader class="w-75" count="1"></ngx-skeleton-loader>
</ng-template>

<ng-template #loaderForTags>
  <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
</ng-template>

