<mat-card class="news-list">
  <mat-card-title class="single-news-title">Новости</mat-card-title>
  <hr>

  <mat-card-content *ngIf="chunks">
    <ul *ngFor="let date of uniqDate">
      <div class="date-title">{{ date | date }}</div>
      <hr class="m-2">
      <div *ngFor="let news of chunks[0]">
        <li *ngIf="news.date.includes(date)" class="cursor-pointer my-animation" (click)="goToSingleNews(news._id)">
          <div class="title-news-list my-animation" [class.selected]="news._id === singleNews._id">
            {{ news.title }}
          </div>
          <hr>
        </li>
      </div>
    </ul>
    <button mat-raised-button color="warn" (click)="showMore()" class="showMore" *ngIf="chunks.length > 1">MORE</button>
  </mat-card-content>

</mat-card>
