<div class="games default-container">
  <div class="games__header d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <div class="icon"><img src="../../../../assets/img/icons/games.png" alt=""></div>
    <div class="title">
      <h1>ИГРЫ</h1>
    </div>
    </div>
    <div>
      <div class="input-search">
        <input class="search" type="text" placeholder="Поиск по играм" [(ngModel)]="search">
        <img class="search-icon" src="../../../../assets/img/icons/search.png" alt="">

        <mat-icon
          *ngIf="search"
          (click)="search = ''"
          class="clear"
        >close
        </mat-icon>

      </div>
    </div>
  </div>

  <div class="games__hr"></div>

  <table>
    <colgroup>
      <col style="width:15%">
      <col style="width:20%">
      <col style="width:5%">
      <col style="width:20%">
      <col style="width:5%">
      <col style="width:20%">
      <col style="width:15%">
    </colgroup>

    <thead>
    <tr>
      <th colspan="7">
        <div class="d-flex flex-row w-100 games-menu">
          <button mat-button
                  class="games-menu__item"
                  [class.active]="gamesFilter === btn.str"
                  *ngFor="let btn of filterSrt"
                  (click)="setGamesFilter(btn.str)"
          >
            {{btn.name}}
          </button>
        </div>
      </th>
    </tr>
    </thead>

    <tbody class="tbody">
      <tr
        *ngFor="let game of displayGames;
        let idx = index">

        <td class="tbody__date">
          <div class="date">{{ game.date | date: 'dd.MM.yy' }}</div>
          <div class="time">{{ game.date | date: ' HH:mm' }}</div>
        </td>

        <td class="tbody__home">
          <div class="cursor-pointer team-name text-right"
               routerLink="/teams/{{game.home._id}}">{{ game.home.name }}</div>
        </td>

        <td class="tbody__home--img">
          <div class="">
            <img src="{{game.home.img}}" class="cursor-pointer" alt="" routerLink="/teams/{{game.home._id}}">
          </div>
        </td>

        <td class="tbody__count flex-row justify-content-around">
          <div class="d-flex justify-content-center align-items-center">
            <div class="tbody__count--circle" [style.background]="getColor(game, true)"></div>
            <div class="text-center cursor-pointer" routerLink="/games/{{game._id}}">{{ game.homeGoal }}
              : {{ game.guestGoal }}</div>
            <div class="tbody__count--circle" [style.background]="getColor(game, false)"></div>
          </div>
        </td>

        <td class="tbody__guest--img">
          <div class="">
            <img src="{{game.guest.img}}" class="cursor-pointer" alt="" routerLink="/teams/{{game.guest._id}}">
          </div>
        </td>

        <td class="tbody__guest">
          <div class="cursor-pointer team-name">{{ game.guest.name }}</div>
        </td>

        <td class="tbody__tour-arrow">
          <div class="d-flex justify-content-around align-items-center">
            <div class="tour">{{game.tour}} тур.</div>
            <div class="tbody__forward--image">
              <div class="arrow-3" routerLink="/games/{{game._id}}">
                <svg class="arrow-3-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" stroke="#00355d" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle class="arrow-3-iconcircle" cx="16" cy="16" r="15.12"></circle>
                    <path class="arrow-3-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                  </g>
                </svg>
              </div>

            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>


</div>
