<div class="d-flex team-main-container flex-column">
  <div class="row-1">
    <div class="d-flex team-card flex-row align-items-stretch col-12">
      <div class="team team-logo align-items-stretch col-4">
        <img class="img-logo" src="{{ team?.img }}">
      </div>
      <div class="team team-name align-items-stretch col-8">
        <h2 class="team-h2">{{ team?.name }}</h2>
      </div>
    </div>
  </div>

  <h2>Руководство</h2>

  <div *ngIf="!team?.managers?.length">Руководители еще не добавлены</div>

  <div *ngFor="let r of team?.managers">
    <p>{{ r.lastName }} {{ r.firstName }} {{ r.middleName }}</p>
  </div>




  <div class="d-flex col-12 row-2 flex-column flex-wrap games-players">

    <div class="d-flex col-lg-12 col-md-12 flex-column players">
      <div class="team-card">

        <div class="my-animation">
          <!--<div class="rest-table-content" [style.margin-top.px]="!isMainPage() ? 50 : 15 ">-->
            <mat-card-title class="tournament-title">СОСТАВ</mat-card-title>
            <div *ngIf="!dataSource?.data?.length">Игроки еще не добавлены</div>
            <hr>
            <div class="mat-elevation-z8" *ngIf="dataSource?.data?.length">
              <!--<mat-form-fields>-->
              <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите имя игрока">-->
              <!--</mat-form-fields>-->
              <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">


                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef >#</th>
                  <td mat-cell *matCellDef="let row; let idx = index;">{{idx + 1}}</td>
                </ng-container>

                <ng-container matColumnDef="photo">
                  <th mat-header-cell *matHeaderCellDef>Фото</th>
                  <td mat-cell *matCellDef="let row"  class="cursor-pointer" (click)="goToPlayer(row.id)">
                    <img class="team-table-photo" src="{{row.img ? row.img : '../../assets/img/defaultImage.webp'}}">
                  </td>
                </ng-container>

                <ng-container matColumnDef="playerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя</th>
                  <td mat-cell *matCellDef="let row" class="cursor-pointer" (click)="goToPlayer(row._id)">{{ row.lastName }} {{ row.firstName }}</td>
                </ng-container>

                <ng-container matColumnDef="dateOfBirth">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ДР</th>
                  <td mat-cell *matCellDef="let row">{{ row.birthday | date: 'MM.dd.yy' }}</td>
                </ng-container>

                <ng-container matColumnDef="gamesCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>И</th>
                  <td mat-cell *matCellDef="let row">{{ row.gamesCount }}</td>
                </ng-container>

                <ng-container matColumnDef="goalsCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Г</th>
                  <td mat-cell *matCellDef="let row">{{ row.goalsCount }}</td>
                </ng-container>

                <ng-container matColumnDef="assistsCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>П</th>
                  <td mat-cell *matCellDef="let row">{{ row.assistsCount }}</td>
                </ng-container>

                <ng-container matColumnDef="yellow">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ЖК</th>
                  <td mat-cell *matCellDef="let row">{{ row.yellow }}</td>
                </ng-container>

                <ng-container matColumnDef="red">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>КК</th>
                  <td mat-cell *matCellDef="let row">{{ row.red }}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


              <mat-paginator #paginator
              [length]="dataSource?.data.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[10, 15, 20, 25]">
              </mat-paginator>
            </div>
          <!--</div>-->
        </div>

      </div>
    </div>

    <div class="d-flex col-lg-12 col-md-12 flex-column games">
      <div class="team-card">
        <div class="my-animation">
          <!--<div class="rest-table-content" [style.margin-top.px]="!isMainPage() ? 50 : 15 ">-->
          <mat-card-title class="tournament-title">Игры</mat-card-title>
          <div class="mat-elevation-z8">
            <!--<mat-form-fields>-->
            <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите имя игрока">-->
            <!--</mat-form-fields>-->
            <table mat-table class="full-width-table" [dataSource]="dataSourceGames" matSort aria-label="Elements"
                   *ngIf="dataSourceGames?.data?.length">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Дата</th>
                <td mat-cell *matCellDef="let row"  class="cursor-pointer">{{row?.date | date: 'MM.dd.yy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="home">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Хозяйка</th>
                <td mat-cell *matCellDef="let row">{{ row?.home?.name }}</td>
              </ng-container>

              <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Счет</th>
                <td mat-cell *matCellDef="let row">{{ row?.homeGoal }} - {{ row?.guestGoal }}</td>
              </ng-container>

              <ng-container matColumnDef="guest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Гость</th>
                <td mat-cell *matCellDef="let row">{{ row?.guest?.name }}</td>
              </ng-container>

              <ng-container matColumnDef="tour">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Тур</th>
                <td mat-cell *matCellDef="let row">{{ row?.tour }} тур.</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsGames"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsGames;"></tr>
            </table>


            <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[10, 15, 20, 25]">
            </mat-paginator>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

</div>


