$header-height: 70px;


$gray: #A5A7A8;
$light-gray: rgba(0, 0, 0, 0.2);
$main-color: #00345A;
$main-f-size: 1rem;
$accent: orange;

$nav-color: $main-color;
$border: 1px solid $gray;
$hover-background: rgba(0, 53, 93, 0.1);
$active-background: rgba(0, 53, 93, 0.1);
$active-color: #003333;
$hover-border-bottom: 1px solid $accent;
$font-top-menu: #7F7F7F;

$background-light: rgba(0, 53, 93, 0.04);

$height-tr: 55px;


$xs: 0; // Extra small screen / phone
$sm: 576px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px;// Extra large screen / wide desktop
