.main {
  padding: 50px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .area {
    &__left {
      padding: 0;
    }
  }
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  background: #00355D;
}
