<div class="main" *ngIf="!isMobile">

  <div class="d-flex area w-100">


    <div class="area__right col-3
    order-{{(dataService.currentSiteTitle$ | async) === 'ГЛАВНАЯ' ? 0 : 1}}"
         *ngIf="!isAdmin && (layoutService.is1200px | async)">
      <app-right-area></app-right-area>
    </div>

    <div class="area__left col-{{(layoutService.is1200px | async) ? '9' : '12'}} order-{{(dataService.currentSiteTitle$ | async) === 'ГЛАВНАЯ' ? 1 : 0}}">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<div class="area__right p-3" *ngIf="isMobile">
  <app-right-area></app-right-area>
</div>

