<mat-toolbar color="primary"
             [style.border-bottom-color]="(authService.isAuth$ | async) ? '#e1e1e1' : '#00518f'">
  <div class="header">

    <div class="full-name"
         *ngIf="authService.isAuth$ | async">
      <div class="d-flex flex-row">
        <div>{{userFullName}}</div>
        <button mat-mini-fab (click)="logout()" matTooltip="Выход">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>

    <button type="button" aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="authService.isAuth$ | async"
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <a routerLink="/auth">
      <img src="./assets/img/logo_120px.png" class="logo logo-tournament position-absolute" alt="">
    </a>

  </div>
  <div class="header header-bottom"
     *ngIf="!(isHandset$ | async)"
     [style.background]="(authService.isAuth$ | async) ? '#ffffff' : '#00518f'"
  >
    <div class="menu-desktop" *ngIf="(authService.isAuth$ | async)">
      <button mat-button
        *ngFor="let link of linksTop"
        [routerLink]="[link.url]"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: link.exact }"
        [disabled]="link.disabled"
      >
        {{link.name}}
      </button>
    </div>
  </div>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'"
    [opened]="false"
    [fixedInViewport]="false">

    <mat-nav-list>
      <div *ngIf="!isAdmin()">
        <a mat-list-item
           *ngFor="let link of linksLeft"
           [routerLink]="[link.url]" [routerLinkActive]="['active']"
        >
          <mat-icon class="left-menu">{{link.icon}}</mat-icon>
          {{link.name}}
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="home-background" perfectScrollbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
