.sidenav-container {
  height: calc(100% - 110px);
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  height: 110px;
  padding: 0;
}

.logo-tournament {
  //left: 20px;

}

.logo {
  border-radius: 5px;
  top: 15px;
  padding: 1px;
  height: 88px;
  margin-left: 10px;
}

@media (max-width: 700px) {
  .logo {
    height: 55px;
    left: 60px;
    top: 7px;
  }
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.header {
  margin-top: 10px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 70px;
}

.header-bottom {
  margin-left: -16px;
  margin-right: -16px;
  background-color: #ffffff;
  height: 40px;
  justify-content: flex-end;
}

.header-title {
  vertical-align: bottom;
  z-index: 0;
  background-color: unset;
  height: 32px;
  margin: 0 auto -32px;
  color: #00355D;
  font-size: 16px;
}

.title {
  margin-top: -7px;
  z-index: 5;
  background-color: white;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border: 1px solid #d7d8dc;
  border-top-width: 0;
  border-radius: 0 0 31px 31px;
}

.index-main {
  margin-top: 40px;
  background-color: white;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.mat-toolbar {
  border-bottom: 1px solid #e1e1e1;
}

.mat-toolbar.mat-primary {
  background: #003366;
  position: sticky;
  top: 0;
  z-index: 2;
}

.liga {
  margin-left: 30px;
  font-size: 32px;
}

button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .header {
    margin-top: 0;
  }
  .sidenav-container {
    height: calc(100% - 70px);
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 70px;
  }
}

.left-menu {
  margin-right: 7px;
}

.mat-list-item.active{
  color: #51A351;
  mat-icon {
    margin-left: 10px;
  }
}

.menu-desktop {
  font-size: 12px;
  z-index: 4;
  color: #999999;
  text-align: right;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  height: 100%;
  border-bottom: 2px solid white;
  font-weight: bold;

  button {
    letter-spacing: 2px;
    box-sizing: content-box;
    border-radius: 0;
    height: 100%;

    &:hover {
      background: rgba(0, 53, 93, 0.05);
      border-bottom: 2px solid rgba(0, 53, 93, 0.05);
    }
    &.active {
      background: rgba(0, 53, 93, 0.1);
      color: #003333;
      border-bottom: 2px solid #00518f;
    }
  }


}

.full-name {
  position: absolute;
  right: 0;
  padding-right: 20px;
  font-size: 14px;

  div {
    align-items: flex-end!important;
  }

  button {
    padding: 0;
    margin-left: 20px;
    background: none;
  }
}
.mat-button-ripple.mat-ripple {
  color: red!important;
  //color: #00518f;
}
