@import "mixins";
@import "variables";

.table {
  width: 100%;

  th {
    border-bottom: none;
    border-top: none;
  }

  tr:nth-child(1) {
    td {
      border-top: none;
    }
  }

  thead {
    .title {
      border-bottom: 1px solid #e1e1e1;
      color: #00355d;
    }

    .tournament {
      height: 20px;
      background: #00355d;
      color: rgba(255, 255, 255, 1);
      border-radius: 10px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;

      .link-to-games {
        outline: none;
        letter-spacing: 2px;
        height: 20px;
        text-align: right;
        width: 160px;
        border-radius: 10px;
        box-sizing: content-box;
        margin-right: -1px;
        transition: 0.2s;

        mat-icon {
          line-height: 20px;
          font-size: 18px;
        }

        &:hover {
          background: $accent;
        }
      }
    }
  }

  tbody {
    td:nth-child(1), td:nth-last-child(1) {
      border-top: none;
    }

    td {
      vertical-align: middle;

      .res {
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
    }

    $backgroundLg: rgba(0, 53, 93, 0.05);

    .tbody {
      &__date {
        width: 15%;
      }

      &__home {
        width: 17.5%;
        background: $backgroundLg;
      }

      &__home--image {
        width: 10%;
        background: $backgroundLg;
      }

      &__count {
        width: 15%;
        background: $backgroundLg;

        &--circle {
          width: 6px;
          height: 6px;
          border-radius: 3px;
        }
      }

      &__tour {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #7F7F7F;
      }

      &__guest--image {
        width: 10%;
        background: $backgroundLg;
      }

      &__guest {
        width: 17.5%;
        background: $backgroundLg;
      }

      &__forward {
        width: 15%;

        &--image {

          .arrow-3 {
            cursor: pointer;
            text-decoration: none;
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            width: 100%;
            height: 100%;
          }

          .arrow-3 .arrow-3-icon {
            position: relative;
            top: -1px;
            transition: transform 0.3s ease;
            vertical-align: middle;
          }

          .arrow-3 .arrow-3-iconcircle {
            transition: stroke-dashoffset .3s ease;
            stroke-dasharray: 95;
            stroke-dashoffset: 95;
          }

          .arrow-3:hover .arrow-3-icon {
            transform: translate3d(2px, 0, 0);
          }

          .arrow-3:hover .arrow-3-iconcircle {
            stroke-dashoffset: 0;
          }
        }
      }
    }

    .tour, .date {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #7F7F7F;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }
}

.action-button {
  color: rgba(0, 0, 0, 0.5);
  height: 40px;

  button {
    padding: 0;
    width: 20%;
    border-radius: 0;
    outline: none;
    min-width: unset;
    line-height: 20px;

    @include menu-hover-active('t');
  }
}

.arrow-2 {
  width: 9px;
  height: 9px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: translate(-1px) rotate(45deg);
}
