<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="First">
      <table class="table">
        <caption>
          <div class="">
            <div>Игры</div>
            <div class=""></div>
          </div>

        </caption>
        <thead>
        <tr>
          <th>Дата</th>
          <th>Хозяйка</th>
          <th>Лого хозяйа</th>
          <th>Счет</th>
          <th>Лого гость</th>
          <th>Гость</th>
          <th>Подробнее</th>
        </tr>
        </thead>

        <tbody>
        <tr class="cursor-pointer" *ngFor="let game of completedGames | slice:0:5 let idx = index">
          <td>
            <div class="date">{{ game.date }}</div>
            <div class="tour">{{ game.tour }}</div>
          </td>
          <td>{{ game.home.name }}</td>
          <td><img src="{{game.home.img}}" alt=""></td>
          <td>{{ game.homeGoal }} : {{ game.guestGoal }}</td>
          <td><img src="{{game.guest.img}}" alt=""></td>
          <td>{{ game.guest.name }}</td>
          <td>Подробнее</td>
        </tr>
        </tbody>
      </table>

    </mat-tab>
    <mat-tab  label="Second">
      <table class="table">
        <caption>
          <div class="">
            <div>Игры</div>
            <div class=""></div>
          </div>

        </caption>
        <thead>
        <tr>
          <th>Дата</th>
          <th>Хозяйка</th>
          <th>Лого хозяйа</th>
          <th>Счет</th>
          <th>Лого гость</th>
          <th>Гость</th>
          <th>Подробнее</th>
        </tr>
        </thead>

        <tbody>
        <tr class="cursor-pointer" *ngFor="let game of games | slice:0:5 let idx = index">
          <td>
            <div class="date">{{ game.date }}</div>
            <div class="tour">{{ game.tour }}</div>
          </td>
          <td>{{ game.home.name }}</td>
          <td><img src="{{game.home.img}}" alt=""></td>
          <td (click)="goToGame(game._id)" class="cursor-pointer">{{ game.homeGoal }} : {{ game.guestGoal }}</td>
          <td><img src="{{game.guest.img}}" alt=""></td>
          <td>{{ game.guest.name }}</td>
          <td>Подробнее</td>
        </tr>
        </tbody>
      </table>

    </mat-tab>

  </mat-tab-group>
</div>




<!--<div class="container my-animation">-->
<!--  <div class="table-content" [style.margin-top.px]="!isMainPage ? 50 : 15 ">-->
<!--  <mat-card class="tournament-mat-card w-100">-->
<!--    <mat-card-title class="tournament-title">ТУРНИРНАЯ ТАБЛИЦА</mat-card-title>-->
<!--    <hr>-->
<!--<div class="mat-elevation-z8" *ngIf="!isMainPage">-->
<!--  &lt;!&ndash;<mat-form-fields>&ndash;&gt;-->
<!--    &lt;!&ndash;<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите имя игрока">&ndash;&gt;-->
<!--  &lt;!&ndash;</mat-form-fields>&ndash;&gt;-->
<!--  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">-->


<!--    <ng-container matColumnDef="id">-->
<!--      <th mat-header-cell *matHeaderCellDef >#</th>-->
<!--      <td mat-cell *matCellDef="let row; let idx = index;">{{idx + 1}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="teamName">-->
<!--      <th mat-header-cell *matHeaderCellDef>Команда</th>-->
<!--      <td mat-cell *matCellDef="let row"  class="cursor-pointer"-->
<!--          (click)="goToUrl(URLS.team, row._id)">-->
<!--        <img src="{{row.img}}" alt="">{{row.teamName}}-->
<!--      </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="gamesCount">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>И</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.gamesCount}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="win">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>В</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.win}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="loss">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Н</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.loss}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="draws">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>П</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.draws}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="goals">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>З</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.goals}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="missedGoals">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>П</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.missedGoals}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="goalDifference">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Р</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.goalDifference}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="points">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-points">Очки</th>-->
<!--      <td mat-cell *matCellDef="let row">{{row.points}}</td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->


<!--  &lt;!&ndash;<mat-paginator #paginator&ndash;&gt;-->
<!--      &lt;!&ndash;[length]="dataSource?.data.length"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageIndex]="0"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageSize]="10"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageSizeOptions]="[10, 15, 20, 25]">&ndash;&gt;-->
<!--  &lt;!&ndash;</mat-paginator>&ndash;&gt;-->
<!--</div>-->


<!--    <div class="mat-elevation-z8" *ngIf="isMainPage">-->
<!--      &lt;!&ndash;<mat-form-fields>&ndash;&gt;-->
<!--      &lt;!&ndash;<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите имя игрока">&ndash;&gt;-->
<!--      &lt;!&ndash;</mat-form-fields>&ndash;&gt;-->
<!--      <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">-->


<!--        <ng-container matColumnDef="id">-->
<!--          <th mat-header-cell *matHeaderCellDef >#</th>-->
<!--          <td mat-cell *matCellDef="let row; let idx = index;">{{idx + 1}}</td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="teamName">-->
<!--          <th mat-header-cell *matHeaderCellDef>Команда</th>-->
<!--          <td mat-cell *matCellDef="let row"  class="cursor-pointer"-->
<!--              (click)="goToUrl(URLS.team, row._id)">-->
<!--            <img src="{{row.img}}" alt="">{{row.teamName}}-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="gamesCount">-->
<!--          <th mat-header-cell *matHeaderCellDef>И</th>-->
<!--          <td mat-cell *matCellDef="let row">{{row.gamesCount}}</td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="points">-->
<!--          <th mat-header-cell *matHeaderCellDef>Очки</th>-->
<!--          <td mat-cell *matCellDef="let row">{{row.points}}</td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumnsForMainPage"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumnsForMainPage;"></tr>-->
<!--      </table>-->

<!--      &lt;!&ndash;<mat-paginator #paginator&ndash;&gt;-->
<!--      &lt;!&ndash;[length]="dataSource?.data.length"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageIndex]="0"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageSize]="10"&ndash;&gt;-->
<!--      &lt;!&ndash;[pageSizeOptions]="[10, 15, 20, 25]">&ndash;&gt;-->
<!--      &lt;!&ndash;</mat-paginator>&ndash;&gt;-->
<!--    </div>-->
<!--    <br class="my-br">-->
<!--    <button mat-raised-button color="warn" class="showMore"-->
<!--            *ngIf="isMainPage"-->
<!--            (click)="goToUrl(URLS.stat)"-->
<!--    >ПОДРОБНАЯ ТАБЛИЦА</button>-->
<!--  </mat-card>-->
<!--  </div>-->

<!--</div>-->














<!--<div class="container my-animation w-100" [style.margin-top.px]="isMainPage ? 30 : 50 ">-->
<!--  <mat-card class="games-mat-card">-->
<!--  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">-->


<!--&lt;!&ndash;    ВСЕ ИГРЫ    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <mat-tab label="ВСЕ ИГРЫ" class="my-animation" *ngIf="!isMainPage">-->

<!--  <div *ngFor="let d of uniqDate | slice:isMainPage ? -3 : -99">-->
<!--    <mat-card class="example-card" [class.games-card]="isMainPage">-->
<!--        <mat-card-title>-->
<!--          <div class="date-title">-->
<!--          {{ (d | date)?.toUpperCase() }}-->
<!--          </div>-->
<!--        </mat-card-title>-->

<!--      <mat-card-content *ngFor="let game of getGamesForView(d)" class="games-list align-middle">-->
<!--        <div class="row">-->
<!--          <div class="date">-->
<!--            {{ game.date | date: 'MM.dd.yy, H:mm' }}-->
<!--          </div>-->
<!--          <div class="home-team cursor-pointer" (click)="goToRouter(URLS.team, game.home._id)"-->
<!--               [class.win]="game.homeGoal > game.guestGoal"-->
<!--               [class.loss]="game.homeGoal < game.guestGoal"-->
<!--               [class.draw]="game.homeGoal === game.guestGoal"-->
<!--          >-->
<!--            {{ game.home.name }}-->
<!--            <img *ngIf="game?.home?.img" src="{{ game?.home?.img }}">-->
<!--          </div>-->
<!--          <div class="score cursor-pointer"-->
<!--               (click)="goToRouter('/games/', game._id)"-->
<!--          >-->
<!--            <span *ngIf="game.completed">{{ game.homeGoal }} : {{ game.guestGoal }}</span>-->
<!--            <span *ngIf="!game.completed">— : —</span>-->

<!--          </div>-->
<!--          <div class="guest-team cursor-pointer" (click)="goToRouter(URLS.team, game.home._id)"-->
<!--               [class.win]="game.homeGoal < game.guestGoal"-->
<!--               [class.loss]="game.homeGoal > game.guestGoal"-->
<!--               [class.draw]="game.homeGoal === game.guestGoal"-->
<!--          >-->
<!--            <img *ngIf="game?.guest?.img" src="{{ game.guest.img }}">-->
<!--            {{ game.guest.name }}-->
<!--          </div>-->
<!--          <div class="tour">-->
<!--            {{ game.tour }} тур.-->
<!--          </div>-->
<!--        <p>-->
<!--        </p>-->
<!--        </div>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->

<!--    </mat-tab>-->

<!--&lt;!&ndash;    ПОСЛЕДНИЕ' : 'СЫГРАННЫЕ     -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <mat-tab class="my-animation" label="{{ isMainPage ? 'ПОСЛЕДНИЕ' : 'СЫГРАННЫЕ'}}">-->

<!--      <div *ngFor="let d of uniqDate | slice:isMainPage ? -3 : -99">-->
<!--        <mat-card class="example-card" [class.games-card]="isMainPage" *ngIf="isNeedDate(true, d)">-->
<!--          <mat-card-title>-->
<!--            <div class="date-title">-->
<!--              {{ (d | date).toUpperCase() }}-->
<!--            </div>-->
<!--          </mat-card-title>-->

<!--          <mat-card-content *ngFor="let game of getGamesByCompleted(getGamesForView(d), true)" class="games-list align-middle">-->
<!--              <div class="row">-->
<!--                <div class="date">-->
<!--                  {{ game?.date | date: 'MM.dd.yy, H:mm' }}-->
<!--                </div>-->
<!--                <div class="home-team cursor-pointer" (click)="goToRouter(URLS.team, game.home._id)"-->
<!--                     [class.win]="game.homeGoal > game.guestGoal"-->
<!--                     [class.loss]="game.homeGoal < game.guestGoal"-->
<!--                     [class.draw]="game.homeGoal === game.guestGoal"-->
<!--                >-->
<!--                  {{ game.home.name }}-->
<!--                  <img *ngIf="game?.home?.img" src="{{ game.home.img }}">-->
<!--                </div>-->
<!--                <div class="score cursor-pointer"-->
<!--                     (click)="goToRouter('/games/', game._id)"-->
<!--                >-->
<!--                  <span *ngIf="game.completed">{{ game.homeGoal }} : {{ game.guestGoal }}</span>-->
<!--                  <span *ngIf="!game.completed">— : —</span>-->

<!--                </div>-->
<!--                <div class="guest-team cursor-pointer" (click)="goToRouter(URLS.team, game.home._id)"-->
<!--                     [class.win]="game.homeGoal < game.guestGoal"-->
<!--                     [class.loss]="game.homeGoal > game.guestGoal"-->
<!--                     [class.draw]="game.homeGoal === game.guestGoal"-->
<!--                >-->
<!--                  <img *ngIf="game?.guest?.img" src="{{ game.guest.img }}">-->
<!--                  {{ game.guest.name }}-->
<!--                </div>-->
<!--                <div class="tour">-->
<!--                  {{ game.tour }} тур.-->
<!--                </div>-->
<!--                <p>-->
<!--                </p>-->
<!--              </div>-->
<!--          </mat-card-content>-->

<!--        </mat-card>-->
<!--      </div>-->

<!--    </mat-tab>-->
<!--    <mat-tab class="my-animation" label="ПРЕДСТОЯЩИЕ" [disabled]="!isHasNoCompleted()">-->
<!--      <div class="no-game" *ngIf="!isHasNoCompleted()">-->
<!--        Игры еще не назначены.-->
<!--      </div>-->

<!--      <div *ngFor="let d of uniqDate | slice:0: isMainPage ? 3 : 99">-->
<!--        <mat-card class="example-card" [class.games-card]="isMainPage" *ngIf="isNeedDate(false, d)">-->
<!--          <mat-card-title>-->
<!--            <div class="date-title">-->
<!--              {{ (d | date)?.toUpperCase() }}-->
<!--            </div>-->
<!--          </mat-card-title>-->

<!--          <mat-card-content *ngFor="let game of getGamesForView(d)" class="games-list align-middle">-->
<!--            <div *ngIf="!game.completed">-->
<!--              <div class="row">-->
<!--                <div class="date">-->
<!--                  {{ (game?.date | date: 'MM.dd.yy, H:mm') || 'Время не назначено' }}-->
<!--                </div>-->
<!--                <div class="home-team cursor-pointer" (click)="goToRouter(URLS.team, game.home._id)">-->
<!--                  {{ game.home.name }}-->
<!--                  <img *ngIf="game?.home?.img" src="{{ game.home.img }}">-->
<!--                </div>-->
<!--                <div class="score cursor-pointer"-->
<!--                     (click)="goToRouter(URLS.game, game._id)"-->
<!--                >-->
<!--                  <span>— : —</span>-->
<!--                </div>-->
<!--                <div class="guest-team cursor-pointer"-->
<!--                     (click)="goToRouter(URLS.team, game.home._id)">-->
<!--                  <img *ngIf="game?.guest?.img" src="{{ game.guest.img }}">-->
<!--                  {{ game.guest.name }}-->
<!--                </div>-->
<!--                <div class="tour">-->
<!--                  {{ game.tour }} тур.-->
<!--                </div>-->
<!--                <p>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->

<!--          </mat-card-actions>-->
<!--        </mat-card>-->
<!--      </div>-->

<!--    </mat-tab>-->
<!--  </mat-tab-group>-->
<!--    <button mat-raised-button color="warn" class="showMore"-->
<!--            *ngIf="isMainPage"-->
<!--            (click)="goToRouter(URLS.games)"-->
<!--    >ВСЕ ИГРЫ</button>-->
<!--  </mat-card>-->
<!--</div>-->
