<table class="table mt-5">
  <caption>

  </caption>
  <thead>
  <tr >
    <th colspan="7">
      <div>

        <div class="title d-flex flex-row justify-content-center align-items-center pb-2">
          <img src="../../../../assets/img/icons/games.png" alt="" class="mx-2">
          <div class="mx-2">ИГРЫ ТУРНИРА</div>
        </div>
      </div>

      <div class="action-button d-flex justify-content-center w-100">
        <button mat-button
                [class.active]="gamesFilter === btn.str"
                *ngFor="let btn of filterSrt"
                (click)="setGamesFilter(btn.str)"
        >
          {{btn.name}}
        </button>
      </div>

      <div class="tournament px-5 d-flex flex-row justify-content-between">
        <div>{{(clientDataService.getTournament$() | async)?.name}}</div>
        <div>ВСЕ ИГРЫ ТУРНИРА ></div>

      </div>

    </th>
  </tr>
  </thead>

  <tbody>
  <tr class="cursor-pointer" *ngFor="let game of filterGames((this.clientDataService.getGames$() | async)) | slice:0:5 let idx = index">
    <td>
      <div class="date">{{ game.date | date: 'dd MMM HH:mm' }}</div>
      <div class="tour">{{ game.tour }}</div>
    </td>
    <td>{{ game.home.name }}</td>
    <td><img src="{{game.home.img}}" alt=""></td>
    <td (click)="goToGame(game._id)" class="cursor-pointer">{{ game.homeGoal }} : {{ game.guestGoal }}</td>
    <td><img src="{{game.guest.img}}" alt=""></td>
    <td>{{ game.guest.name }}</td>
    <td><img src="../../../../assets/img/icons/forward.png" alt=""></td>
  </tr>
  </tbody>
</table>
