.table {
  width: 100%;

  th {
    border-bottom: none;
    border-top: none;
  }

  tr:nth-child(1) {
    td {
      border-top: none;
    }
  }

  thead {
    .title {
      border-bottom: 1px solid #e1e1e1;
      color: #00355d;
    }

    .tournament {
      height: 20px;
      background: #00355d;
      color: white;
      border-radius: 9px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
    }
  }

  tbody {
    td {
      vertical-align: middle;

      .res {
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }
  }
}

.action-button {
  color: rgba(0, 0, 0, 0.5);
  height: 40px;

  button {
    padding: 0;
    width: 20%;
    border-radius: 0;
    outline: none;
    min-width: unset;
    line-height: 20px;

    &:hover {
      border-radius: 0;
      background: rgba(0, 53, 93, 0.1)
    }
  }

  .active {
    background: rgba(0, 53, 93, 0.1);
    border-top: 1px solid #00355d;
  }
}
