mat-form-field {
  padding-right: 30px;
  padding-left: 10px;
  flex-grow: 1;
  min-width: 300px;
  //width: 100%;
}

ul {
  list-style: none;
}

h5 {
  color: #00355D;
}

.for-select {
  height: 100%;
}

.unit {
  width: 100%;
  text-align: center;
}
